# Veritabanı bağlantısı
server = 'LAPTOP-NLQCE4VK'
database = 'havacılık_kurs_proje'
username = 'admin'
password = 'admin'
connection_string1 = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'
connect = pyodbc.connect(connection_string1)
ALLOWED_EXTENSIONS = {'pdf', 'png', 'jpg', 'jpeg'}
UPLOAD_FOLDER = 'C:\\Users\\erdem\\OneDrive\\Belgeler\\GitHub\\havacilikKurs\\proje güncel\\dekontlar'
app.config['UPLOAD_FOLDER'] = UPLOAD_FOLDER