{% extends 'kullanici_layout.html' %}

{% block content %}
<div class="container py-5">
    <h2 class="mb-3">Kurs İlanı Düzenle</h2>
    <form method="POST" action="/kullanici_kurs_duzenle/{{ kurs.kurs_ilan_id }}">
        <div class="mb-3">
            <label for="kurs_adi" class="form-label">Kurs Adı:</label>
            <input type="text" class="form-control" id="kurs_adi" name="kurs_adi" value="{{ kurs.kurs_adi }}" required>
        </div>
        <div class="mb-3">
            <label for="kurs_veren_okul" class="form-label">Kurs Veren Okul:</label>
            <input type="text" class="form-control" id="kurs_veren_okul" name="kurs_veren_okul" value="{{ kurs.kurs_veren_okul }}" required>
        </div>
        <div class="mb-3">
            <label for="kurs_admin_username" class="form-label">Kurs Admin Kullanıcı Adı:</label>
            <input type="text" class="form-control" id="kurs_admin_username" name="kurs_admin_username" value="{{ kurs.kurs_admin_username }}" required>
        </div>
        <div class="mb-3">
            <label for="kurs_aciklama" class="form-label">Kurs Açıklama:</label>
            <textarea class="form-control" id="kurs_aciklama" name="kurs_aciklama" rows="3" required>{{ kurs.kurs_aciklama }}</textarea>
        </div>
        <div class="mb-3">
            <label for="kurs_tarih" class="form-label">Kurs Tarih:</label>
            <input type="text" class="form-control" id="kurs_tarih" name="kurs_tarih" value="{{ kurs.kurs_tarih }}" required>
        </div>
        <div class="mb-3">
            <label for="kurs_kontenjan" class="form-label">Kurs Kontenjan:</label>
            <input type="text" class="form-control" id="kurs_kontenjan" name="kurs_kontenjan" value="{{ kurs.kurs_kontenjan }}" required>
        </div>
        <div class="mb-3">
            <label for="kurs_fiyat" class="form-label">Kurs Fiyat:</label>
            <input type="text" class="form-control" id="kurs_fiyat" name="kurs_fiyat" value="{{ kurs.kurs_fiyat }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>
</div>
{% endblock %}
